POSTGRES_USER=suara
POSTGRES_PASSWORD=suara
POSTGRES_DB=suara_mipa
POSTGRES_PORT=5432
DATABASE_URL=postgresql://suara:suara@localhost:5432/suara_mipa
TEST_DATABASE_URL=postgresql://suara:suara@localhost:5432/suara_mipa_test
DB_POOL_MAX=10

JWT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
APP_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_ROOT_FOLDER=suara_mipa/local

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=

SEED_PASSWORD=
